@import "../adminlte/build/less/AdminLTE";

/////////////////////////////////////////////////////////////
//// MOVE BELOW INTO APPROPRIATE SHEETS WHEN TIME ALLOWS ////
/////////////////////////////////////////////////////////////

// VARIABLES
@white:						#ffffff;
@basecamp_bg:				#67aa49;
@basecamp_bg_hover:			#329f2a;
@youtube_bg:				#cd201f;
@twitch_bg:					#6441A5;
@youtube_bg_hover:			#AF1B1A;
@twitch_bg_hover:			#55378E;

// SHARED AUTH
.g-recaptcha {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 304px;
}
.alert {
	.close {
		text-decoration: none;
	}
}

// RESET/FORGOT PASSWORD PAGE
.lockscreen-credentials {
	padding: 0 50px;
  	margin-left: 0px;
	.g-recaptcha {
	  	margin: 35px auto 10px;
	}
	.control-label {
	    text-align: left;
	}
	#email {
	  	margin-left: 70px;
	  	width: 71.5%;
	}
}

// LOGIN PAGE
.login-full-span {
	margin-left: -20px;
	margin-right: -20px;
}

// SM ICONS
.btn-37signals  {
	background: @basecamp_bg;
	color: @white;
	&:hover {
		background: @basecamp_bg_hover;
		color: @white;
	}
}
.btn-youtube {
	background: @youtube_bg;
	color: @white;
	&:hover {
		background: @youtube_bg_hover;
		color: @white;
	}
}
.btn-twitch {
	background: @twitch_bg;
	color: @white;
	&:hover {
		background: @twitch_bg_hover;
		color: @white;
	}
}